<a href="{{ path('app_job_offer_show', {'id': job_offer.id}) }}" class="unstyle">
	<div class="my-card {% if job_offer.status.value == "À postuler" %}card1{% elseif job_offer.status.value == "En attente" %}card2{% elseif job_offer.status.value == "Entretien" %}card3{% elseif job_offer.status.value == "Refusé" %}card4{% elseif job_offer.status.value == "Accepté" %}card5{% endif %}">
		<div class="text-end w-100">
			{% if job_offer.status.value == "À postuler" %}
				<i class="bi bi-bell"></i>
			{% elseif job_offer.status.value == "En attente" %}
				<i class="bi bi-send"></i>
			{% elseif job_offer.status.value == "Entretien" %}
				<i class="bi bi-chat-dots"></i>
			{% elseif job_offer.status.value == "Refusé" %}
				<i class="bi bi-ban"></i>
			{% elseif job_offer.status.value == "Accepté" %}
				<i class="bi bi-balloon-heart"></i>
			{% endif %}
		</div>
		<h2>{{ job_offer.title }}</h2>
		<div class="row">
			<div class="col-6 d-flex align-items-center">
				<p><i class="bi bi-geo"></i> {{ job_offer.location ?? "N/A" }}</p>
			</div>
			<div class="col-6 text-end">
				<p>Chez {{ job_offer.company ? job_offer.company|upper : "N/A" }}</p>
			</div>
		</div>
	</div>
</a>
