{% extends 'base.html.twig' %}

{% block title %}ProfilAuTop: Accueil{% endblock %}

{% block body %}
<h1>Bienvenue sur ProfilAuTop</h1>
<a href="{{ path('app_login') }}"><button type="button">Commencer</button></a>
{% endblock %}
