{% extends 'base.html.twig' %}

{% block title %}ProfilAuTop: Inscription{% endblock %}


{% block body %}

    {% for message in app.flashes('error') %}
        <div class="flash-error">
            <p>{{ message }}</p>
        </div>
    {% endfor %}


{{ form(registrationForm) }}

{% endblock %}
