<form method="post" action="{{ path('app_linked_in_message_delete', {'id': linked_in_message.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ linked_in_message.id) }}">
    <button class="btn">Delete</button>
</form>
