<div class="container">
	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="{% if app.user %}{{ path('app_dashboard')}}{% else %}{{ path('app_home')}}{% endif %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
			<img class="w-20" src="./Images/website/logo_profil_au_top.png" alt="logo">
		</a>

		<ul class="nav nav-pills">
		{% if app.user %}
			<li class="nav-item">
				<a href="{{ path('app_logout') }}" title="Déconnexion" class="text-dark nav-link icon-link icon-link-hover link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
					<button type="button" class="btn btn-light">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-dash-fill" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5"/>
							<path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
						</svg>
					</button>
				</a>
			</li>
			<div class="d-flex"></div>
		{% endif %}

{# 
			<li class="nav-item">
				<a href="#" class="nav-link">Features</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">Pricing</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">FAQs</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">About</a>
			</li> #}
		</ul>
	</header>
</div>
