{% extends 'base.html.twig' %}

{% block title %}Profil a top : DashboardController
{% endblock %}

{% block body %}
	<main class="d-flex no-wrap">
		{{ include('./components/partials/sidebar.html.twig') }}

		<div class="container">
            <div class="banner">
				<div class="img">
					<img src="./Images/website/baner.jpg" alt="baniére image">
				</div>
				<h1 class="text-center">Bienvenue! <br> <span class="text-center deco">{% if app.user.firstName is defined %}
					{{ app.user.firstName }}
				{% else %}
					user
				{% endif %}
				{% if app.user.lastName is defined %}
					{{ app.user.lastName|upper }}
					{% else %}***
				{% endif %}</span></h1>
			</div>
			
		</div>


	</main>


{% endblock %}
