{% extends 'base.html.twig' %}

{% block title %}Profil a top : DashboardController
{% endblock %}

{% block body %}
<main class="d-flex no-wrap">
{{ include('./components/partials/sidebar.html.twig') }}




</main>


{% endblock %}
